@import "tailwindcss";


:root {
  --skyBlue:   #5B88B2;
  --navyDeep:  #122C4F;
  --inkBlue:   #0F172A;
  --softGray:  #D6D6D5;
  --cloudGray: #F3F4F5;
}

@theme inline {
  --color-skyBlue:   var(--skyBlue);
  --color-navyDeep:  var(--navyDeep);
  --color-inkBlue:   var(--inkBlue);
  --color-softGray:  var(--softGray);
  --color-cloudGray: var(--cloudGray);
}

html {
  scroll-behavior: smooth; 
}
